











            






            {% extends 'dashboard/index.html' %}
            {% load static %}
            {% block content %}
            
            
            
                      <!-- Content wrapper -->
                      <div class="content-wrapper">
                        <!-- Content -->
            
                        <div class="container-xxl flex-grow-1 container-p-y" 
                          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Course Schedule</h4>
            
                          <div class="row" >
                            <div class="col-md-6">


                              <ul class="nav nav-pills flex-column flex-md-row mb-3">
                                <li class="nav-item">
                                  <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Add Course Schedule</a>
                                </li>
                            
                              </ul>



                              {% if form.errors %}
                              {% for field in form %}
                              {% for error in field.errors %}
                                <small class="text-danger">{{ error|escape }}.</small>
                              {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                <small class="text-danger">{{ error|escape }}.</small>
                              {% endfor %}
                              {% endif %}

                              
                              <div class="card mb-4" >
                                
            
            
                                <form action="" method="post" enctype="multipart/form-data" id="course-schedule-form">
            
                                {% csrf_token %}
            
                                <!-- Account -->
                    
                                <hr class="my-0" />
                                <div class="card-body">
                                    <div class="row">
                                      
                             
                                      <div class="mb-3 col-md-12">
                                        <label>Course:</label>
                                        {{form.course_title}}

                                        <label>Course Module:</label>
                                        {{form.course_content}} 

                                        <label>Date | Time:</label>
                                        {{form.date}} 

                                        <label>Duration:</label>
                                        {{form.duration}} 

                                        <label>Link:</label>
                                        {{form.link}} 

                                        {{form.course_of_study}} 
                                        {{form.facilitator}} 
                                        {{form.paid}} 


                                        <datalist id="suggestions"></datalist>
            
                                      </div>
                         
                            
                                    </div>
                                    <div class="mt-2">
                                      <input type="submit" class="btn btn-primary me-2" value = "Add">
                                   
                                    </div>
                                </div>
                                <!-- /Account -->
                              </div>
            
            
                            </form>

                            
            
                            </div>


                            <div class="col-md-12">
                              


  
                  
                          
                                  
                            </ul>
                            <!-- <div class="card mb-4"> -->

                              <ul class="nav nav-pills flex-column flex-md-row mb-3" id = "schedule">
      
                                <li class="nav-item">
                                  <a class="btn btn-primary" href="{% url 'course_schedule' %}#schedule"><i class="bx bx-time me-1"></i> Upcoming / Ongoing </a>
                                  <a class="btn btn-success" href="{% url 'com_course_schedule' %}#schedule"><i class="bx bx-time me-1"></i> Completed </a>
            
                                </li>
                         
                            
                              </ul>
          
          
                      
                              <div class="card">
                                <div class="table-responsive text-nowrap">
                                  <table class="table table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Course </th>
                                            <th scope="col">Course Content</th>
                                            <th scope="col">Date | Time</th>
                                            <th scope="col">Duration in Hours</th>
                                            <th scope="col">Link</th>
                                            {% comment %} <th scope="col">Edit</th> {% endcomment %}
                                            {% comment %} <th scope="col">Delete</th> {% endcomment %}
                                   
                                        </tr>
                                    </thead>
                                    <tbody>
                        
                                        {% for schedule in schedules %}
                        
                                <tr>
                        
                              
                                    <td>{{forloop.counter}}</td>
                        
                                    <td> {{schedule.course_title}}</td>
                                    <td> {{schedule.course_content}}</td>
                        
                                    <td>{{schedule.date}}</td>
                                    <td>{{schedule.duration}}</td>
                                    <td><a href="{{schedule.link}}">{{schedule.link}}</a></td>

                                    
                        
                      
                                </tr>
                        
                                {% endfor %}
                                </tbody>
                                </table>
                            </div>
                                    </div>
                                    </div>
                                    </div>
                       
                                    </div>
                           
                                  </div>
                            
                              </div>
                              <!-- /Account -->
                            </div>
          
          
                          </form>
          
                          </div>
                        </div>
                      </div>

                    

                  </div>

                            

                          </div>
                        
                        </div>
                        <!-- / Content -->
            
                              <!-- Content -->
                  
                              
                  
                                  </div>
                                </div>
                              </div>



                              <script>

                                window.addEventListener('DOMContentLoaded', (event) => {
                                    const courseTitleField = document.querySelector('#id_course_of_study');
                                    if (courseTitleField) {
                                        // Fetch suggestions from text file
                                        fetch('/get_suggestions')  // Adjust the URL to your Django view
                                            .then(response => response.text())
                                            .then(data => {
                                                const suggestions = data.split('\n');
                                                const datalist = document.createElement('datalist');
                                                datalist.id = 'suggestions';
                                                suggestions.forEach(suggestion => {
                                                    const option = document.createElement('option');
                                                    option.value = suggestion.trim();
                                                    datalist.appendChild(option);
                                                });
                                                courseTitleField.parentNode.insertBefore(datalist, courseTitleField.nextSibling);
                                                courseTitleField.setAttribute('list', 'suggestions');
                                            })
                                            .catch(error => console.error('Error fetching suggestions:', error));
                                    }
                                });
                            </script>
            














                            <script>
                              document.addEventListener('DOMContentLoaded', function() {
                                  const courseTitleSelect = document.getElementById('id_course_title');
                                  const courseContentSelect = document.getElementById('id_course_content');
                              
                                  courseTitleSelect.addEventListener('change', function() {
                                      const selectedCourseTitle = courseTitleSelect.value;
                                      fetch('/get_filtered_course_content/?course_title_id=' + selectedCourseTitle)
                                          .then(response => response.json())
                                          .then(data => {
                                              courseContentSelect.innerHTML = '';
                                              data.forEach(content => {
                                                  const option = document.createElement('option');
                                                  option.value = content.id;
                                                  option.textContent = content.name;
                                                  courseContentSelect.appendChild(option);
                                              });
                                          });
                                  });
                              });
                              </script>












                    
                              <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    const courseTitleSelect = document.getElementById('id_course_title');
                                    const courseOfStudyHiddenInput = document.querySelector('[name="course_of_study"]');
                                    const paidHiddenInput = document.querySelector('[name="paid"]');
                                
                                    courseTitleSelect.addEventListener('change', function() {
                                        const selectedCourseTitleId = this.value;
                                        // Send an AJAX request to fetch the course_of_study value based on the selected course title
                                        fetch(`/get_course_of_study/?course_title_id=${selectedCourseTitleId}`)
                                            .then(response => response.json())
                                            .then(data => {
                                                // Update the hidden input value with the fetched course_of_study value
                                                courseOfStudyHiddenInput.value = data.course_of_study;
                                                paidHiddenInput.value = data.paid;
                                            })
                                            .catch(error => console.error('Error fetching course of study:', error));
                                    });
                                });
                                </script>
            
            
                        {% endblock content %}
            