






            {% extends 'dashboard/index.html' %}
            {% load static %}
            {% block content %}
            
            
            
                      <!-- Content wrapper -->
                      <div class="content-wrapper">
                        <!-- Content -->
            
                        <div class="container-xxl flex-grow-1 container-p-y">
                          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Course Schedule</h4>
            
                          <div class="row">
                            <div class="col-md-6">


                              <ul class="nav nav-pills flex-column flex-md-row mb-3">
                                <li class="nav-item">
                                  <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Add Course Schedule</a>
                                </li>
                            
                              </ul>
                              <div class="card mb-4">
                                
            
            
                                <form action="" method="post" enctype="multipart/form-data">
            
                                {% csrf_token %}
            
                                <!-- Account -->
                    
                                <hr class="my-0" />
                                <div class="card-body">
                                    <div class="row">
                                      
                             
                                      <div class="mb-3 col-md-12">
                                        {{form}} 

                                        <datalist id="suggestions"></datalist>
            
                                      </div>
                         
                            
                                    </div>
                                    <div class="mt-2">
                                      <input type="submit" class="btn btn-primary me-2" value = "Add">
                                   
                                    </div>
                                </div>
                                <!-- /Account -->
                              </div>
            
            
                            </form>

                            
            
                            </div>


                            <div class="col-md-12">
                              


  
                  
                          
                                  
                            </ul>
                            <!-- <div class="card mb-4"> -->

                              <ul class="nav nav-pills flex-column flex-md-row mb-3" id = "schedule">
      
                                <li class="nav-item">
                                  <a class="btn btn-success" href="{% url 'course_schedule' %}#schedule"><i class="bx bx-time me-1"></i> Upcoming / Ongoing </a>
                                  <!-- <a class="btn btn-warning" href="{% url 'on_schedule' %}"><i class="bx bx-time me-1"></i> Ongoing Course</a> -->
                                  <a class="btn btn-primary" href="{% url 'com_course_schedule' %}#schedule"><i class="bx bx-time me-1"></i> Completed </a>
            
                                </li>
                         
                            
                              </ul>
          
          
                      
                                      <div class="container" id = "tablediv" >
                                          <table class="table table-striped table-bordered table-hover table-dark">
                                              <thead>
                                                  <tr>
                                                      <th scope="col">S/N</th>
                                                      <th scope="col">Course </th>
                                                      <th scope="col">Date | Time</th>
                                                      <th scope="col">Course of Study</th>
                                                      <th scope="col">Duration in Hours</th>
                                                      <th scope="col" style = "width:5em">Link</th>
                                                  
                                             
                                                  </tr>
                                              </thead>
                                              <tbody>
                                  
                                                  {% for schedule in schedules %}
                                  
                                          <tr>
                                  
                                        
                                              <td>{{forloop.counter}}</td>
                                  
                                              <td> {{schedule.course_title}}</td>
                                  
                                              <td>{{schedule.date}}</td>
                                              <td >{{schedule.course_of_study}}</td>
                                              <td>{{schedule.duration}}</td>
                                              <td><a  href="{{schedule.link}}"  style = "width: 1em">{{schedule.link}}</a></td>
          
                                            
                                
                                          </tr>
                                  
                                          {% endfor %}
                                          </tbody>
                                          </table>
                                      </div>
                                    </div>
                       
                                    </div>
                           
                                  </div>
                            
                              </div>
                              <!-- /Account -->
                            </div>
          
          
                          </form>
          
                          </div>
                        </div>
                      </div>

                    

                  </div>

                            

                          </div>
                        
                        </div>
                        <!-- / Content -->
           
                              <!-- Content -->
                  
                            
                  
                                  </form>
                  
                                  </div>
                                </div>
                              </div>





                              <script>

                                window.addEventListener('DOMContentLoaded', (event) => {
                                    const courseTitleField = document.querySelector('#id_course_of_study');
                                    if (courseTitleField) {
                                        // Fetch suggestions from text file
                                        fetch('/get_suggestions')  // Adjust the URL to your Django view
                                            .then(response => response.text())
                                            .then(data => {
                                                const suggestions = data.split('\n');
                                                const datalist = document.createElement('datalist');
                                                datalist.id = 'suggestions';
                                                suggestions.forEach(suggestion => {
                                                    const option = document.createElement('option');
                                                    option.value = suggestion.trim();
                                                    datalist.appendChild(option);
                                                });
                                                courseTitleField.parentNode.insertBefore(datalist, courseTitleField.nextSibling);
                                                courseTitleField.setAttribute('list', 'suggestions');
                                            })
                                            .catch(error => console.error('Error fetching suggestions:', error));
                                    }
                                });
                            </script>





{% comment %} 


              
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const charField = document.querySelector('#id_course_of_study');
          const suggestionList = document.querySelector('#suggestions');

          charField.addEventListener('input', function() {
              const inputText = charField.value.trim().toLowerCase();
              fetch(`/suggestions/?input=${inputText}`)
                  .then(response => response.json())
                  .then(data => {
                      suggestionList.innerHTML = '';
                      data.suggestions.forEach(suggestion => {
                          const option = document.createElement('option');
                          option.value = suggestion;
                          suggestionList.appendChild(option);
                      });
                  })
                  .catch(error => console.error('Error fetching suggestions:', error));
          });
      });
  </script> {% endcomment %}
            
            
            
                        {% endblock content %}
            